* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: monospace;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    color: hsla(0, 0%, 23%, 0.9);
}

.app-wrapper {
    background-color: rgb(241, 171, 65);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: 3px solid rgb(223, 217, 142);
}

.stop-watch {
    font-size: 4.5em;
    padding: 20px;
}

.action-btns>button {
    padding: 10px;
    margin: 25px 10px;
    border: 0px solid;
    border-radius: 10px;
    min-width: 100px;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(46, 46, 46);
}

.start-btn {
    background-color: rgb(51, 255, 0);
}

.stop-btn {
    background-color: rgb(255, 0, 0);
}

.reset-btn {
    background-color: rgb(80, 176, 255)
}


